/* .rotar:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    transition: 2s ease-in-out;
    
} */

#efecto-girar {
    transition: transform 1s;
    cursor: pointer; /* Cambiar el cursor a un puntero al pasar el mouse por encima */
  }
  
  #efecto-girar.rotando {
    animation-name: girar;
    animation-duration: 2s;
    animation-iteration-count: infinite; /* Girar infinitamente */
  }
  
  @keyframes girar {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  